extends layout

block content
    h1= title
    p Welcome to #{title}
    ul
        each item in items
            li
                h3 Resrvation
                p= item.instancesSet.item.instanceId
                p= item.instancesSet.item.instanceType